body{
	background-image: url(img/йй.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.texttt{
	text-align:center;
}

p_text{
	margin: 10px 110px;
}

#wrapper{
	background: #ffffff;
	margin: 60px auto;
	width: 900px;
	height: 1024px;
}

#header{
	background: #838283;
	height: 200px;
	width: 900px;
	background-image: url(img/qqqq.jfif);
	background-size: cover;
	background-repeat: no-repeat;

}


#navigation{
	background: #2a2a2a2a;
	width: 900px;
	height: 20px;
	background-image: url(img/ooo.gif);
	background-size: 379px 19px;
}

.text{
    text-decoration: none;
    color: white;
}

.left{
	padding-left: 110px;
    text-decoration: none;
	color: white;
}





#content{
	background: #d2d0d2;
	width: 900px;

}

.tabl{
	border: solid 3px;
	margin: 10px 120px;
}

.table{
    margin: 0;
    text-align: center;
}

.texth1{
	margin: 0;
	text-align: center;
}

.textp{
	border: solid 3px;
    margin: 10px 120px;
}

.imgfood{
	display: grid;
}

.food{
	height: 100px;
	padding-top: 30px;
}

#footer{
	background: #838283;
	height: 220px;
	width: 900px;
}

.text_icon{
	margin: 0;
	text-align: center;
	padding-top: 20px;
	padding-right: 50px;
}

.end{
   display: flex;
}

.end_con{
	padding-left: 40px;
	margin: auto;
}

.h3_text{
	text-align: center;
}

.p_pp{
    color: gray;
    font-size: 1px;
}

.imgg{
   width: 50%;
}



































































