body{
	margin: 0;
	background-image: url(img/йй.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.texttt{
	text-align:center;
}

p_text{
	margin: 10px 110px;
}

#wrapper{
	margin: 60px auto;
	width: 900px;
	height: 1024px;
}

#header{
	background: #838283;
	height: 200px;
	width: 900px;
	background-image: url(img/qqqq.jfif);
	background-size: cover;
	background-repeat: no-repeat;

}


#navigation{
	display: flex;
	justify-content: space-between;
	background: #d2d0d2;
	width: 900px;
	height: 20px;
	background-size: 379px 19px;
}

.text{
    text-decoration: none;
    color: white;
}

.left{
	padding-left: 110px;
    text-decoration: none;
	color: black;
}





#content{
	background: #d2d0d2;
	width: 900px;

}

.form{
	  display: block;
    margin: 10px auto;
}

.video{
	margin: 0 auto;
    text-align: center;
    width: 660px;
    height: 375px;
}

.video_iframe{
    width: 660px;
    height: 375px;
	display: block;
	margin: 0 auto;
}

.img_i{
	display: block;
	width: 100%;
}

.text_h1{
	text-align: center;
}

.tabl{
	border: solid 3px;
	margin: 10px 120px;
}

.table{
    margin: 0;
    text-align: center;
}

.texth1{
	margin: 0;
	text-align: center;
}

.textp{
	border: solid 3px;
    margin: 10px 120px;
}

.imgfood{
	display: grid;
}

.food{
	height: 100px;
	padding-top: 30px;
}

#footer{
	background: #838283;
	height: 220px;
	width: 900px;
}

.text_icon{
	margin: 0;
	text-align: center;
	padding-top: 20px;
	padding-right: 50px;
}

.end{
   display: flex;
}

.end_con{
	padding-left: 40px;
	margin: auto;
}

.h3_text{
	text-align: center;
}

.p_pp{
    color: gray;
    font-size: 1px;
}

.imgg{
	width: 50%;
}

@media (min-width: 50px) { 
  .textp{
    font-size: 35px;
  }

  .p_text{
  	font-size: 35px;
  }

    .p_textt{
  	font-size: 35px;
  }

  .left{
  	padding-left: 0;
  	font-size: 40px;
  	border: solid 5px white;
  	margin-right: 40px;
  	margin-left: 40px;
  }

  #navigation {
    background: #d2d0d2;
    width: 900px;
    height: 65px;
    background-size: 379px 19px;
    display: flex;
    justify-content: space-between;
   }

   .text_icon {
   	font-size: 35px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-right: 50px;
}

	.h3_text {
    font-size: 30px;
    text-align: center;
}

	p{
	font-size: 25px;
}

	#footer {
    background: #838283;
    height: 350px;
    width: 900px;
}

	h2{
		font-size: 40px;
	}


@media (min-width: 576px) { 
  .textp{
    font-size: 35px;
  }

  .p_text{
  	font-size: 35px;
  }

    .p_textt{
  	font-size: 35px;
  }

  .left{
  	padding-left: 0;
  	font-size: 40px;
  	border: solid 5px white;
  	margin-right: 40px;
  	margin-left: 40px;
  }

  #navigation {
    background: #d2d0d2;
    width: 900px;
    height: 65px;
    background-size: 379px 19px;
    display: flex;
    justify-content: space-between;
   }

   .text_icon {
   	font-size: 35px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-right: 50px;
}

	.h3_text {
    font-size: 30px;
    text-align: center;
}

	p{
	font-size: 25px;
}

	#footer {
    background: #838283;
    height: 350px;
    width: 900px;
}

	h2{
		font-size: 40px;
	}

@media (min-width: 768px) {
  #navigation {
    background: #d2d0d2;
    width: 900px;
    height: 50px;
    background-size: 379px 19px;
    display: flex;
    justify-content: space-between;
   }

   .left {
    padding-left: 0;
    font-size: 30px;
    border: solid 5px white;
    margin-right: 40px;
    margin-left: 40px;
}
	.textp {
    font-size: 25px;
}

	h2{
		font-size: 30px;
	}

	.p_text {
    font-size: 25px;
}

.p_textt {
    font-size: 25px;
}

 }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }

@media (min-width: 1400px) { }



































































