body{
	background-image: url(img/йй.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#wrapper{
	background: #ffffff;
	margin: 60px auto;
	width: 900px;
	height: 1024px;
}

#header{
	background: #838283;
	height: 200px;
	width: 900px;
	background-image: url(img/qqqq.jfif);
	background-size: cover;
	background-repeat: no-repeat;

}


#navigation{
	background: #d2d0d;
	width: 900px;
	height: 20px;
	background-image: url(img/ooo.gif);
	background-size: 379px 19px;
}

.text{
    text-decoration: none;
    color: white;
}

.left{
    padding-right: 80px;
    padding-left: 80px;
    text-decoration: none;
    color: black;
}





#content{
	background: #d2d0d2;
	width: 900px;
	height: 624px;

}

.img_class{

}

.text_h1{
	margin: 0;
	padding-top: 10px;
	text-align: center;
}

.img{
	margin-right: 10px;
    border: solid 2px;
}

.p_food{
	margin: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.text_food{
	padding-bottom: 15px;
    margin: 0;
}

.tabl{
	margin: 10px;
}

.texttabl{
	display: flex;
	margin: 20px;
}

.table{
    margin: 0;
    display: flex;
    text-align: center;
}

.texth1{
	margin: 0;
	text-align: center;
}

.textp{

    margin: 50px;
}

.imgfood{
	display: grid;
}

.food{
	height: 100px;
	padding-top: 30px;
	padding: 15px;
}

#footer{
	background: #838283;
	height: 220px;
	width: 900px;
}

.text_icon{
	margin: 0;
	text-align: center;
	padding-top: 20px;
	padding-right: 50px;
}

.end{
   display: flex;
}

.end_con{
	padding-left: 40px;
	margin: auto;
}

.h3_text{
	text-align: center;
}






































































